<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_boot.mapper.UsersMapper">

    <select id="All" resultType="com.example.spring_boot.bean.Users">
        select * from user
    </select>
    <select id="selectsolo" resultType="com.example.spring_boot.bean.Users" parameterType="java.lang.String" >
        select * from user WHERE username=#{username}
    </select>

    <select id="login" resultType="com.example.spring_boot.bean.Users" parameterType="com.example.spring_boot.bean.Users">
        select * from user WHERE username=#{username} AND password=#{password}
    </select>

    <insert id="sendUsers" parameterType="com.example.spring_boot.bean.Users">
        insert into user(username,password) value(#{username},#{password})
    </insert>
    <delete id="del" parameterType="java.lang.Integer" >
        delete from user where id=#{id}
    </delete>
</mapper>